.shakeBobble1{
  animation: shakeBB1 3s ease infinite;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  transform: translateZ(0);
}

@keyframes shakeBB1 {
  0% { transform:translate(0,0) }
  70% { transform: translate(1px, 1px) rotate(0deg); }
  73% { transform: translate(-1px, -2px) rotate(-1deg); }
  76% { transform: translate(-3px, 0px) rotate(1deg); }
  79% { transform: translate(3px, 2px) rotate(0deg); }
  82% { transform: translate(1px, -1px) rotate(1deg); }
  85% { transform: translate(-1px, 2px) rotate(-1deg); }
  88% { transform: translate(-3px, 1px) rotate(0deg); }
  91% { transform: translate(3px, 1px) rotate(-1deg); }
  94% { transform: translate(-1px, -1px) rotate(1deg); }
  97% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@media only screen and (max-width: 468px) {

	@keyframes shakeBB1 {
	  70% { transform: translate(1px, 1px) rotate(0deg); }
	  73% { transform: translate(-1px, -2px) rotate(-1deg); }
	  76% { transform: translate(-1px, 0px) rotate(1deg); }
	  79% { transform: translate(1px, 1px) rotate(0deg); }
	  82% { transform: translate(1px, -1px) rotate(1deg); }
	  85% { transform: translate(-1px, 1px) rotate(-1deg); }
	  88% { transform: translate(-1px, 1px) rotate(0deg); }
	  91% { transform: translate(1px, 1px) rotate(-1deg); }
	  94% { transform: translate(-1px, -1px) rotate(1deg); }
	  97% { transform: translate(1px, 1px) rotate(0deg); }
	  100% { transform: translate(1px, -1px) rotate(-1deg); }
	}

}

/*
 * http://waitanimate.wstone.io/#!/
 */
 
.shakeSide1 {
  animation: horizontal_3807 2.72s ease infinite;
  transform-origin: 50% 50%;
}

@keyframes horizontal_3807 {
  0% { transform:translate(0,0) }
  4.41177% { transform:translate(6px,0) }
  8.82353% { transform:translate(0,0) }
  13.23529% { transform:translate(6px,0) }
  17.64706% { transform:translate(0,0) }
  22.05882% { transform:translate(6px,0) }
  26.47059% { transform:translate(0,0) }
  100% { transform:translate(0,0) }
}


/* Main FB image slow fade in class */

.animatehidden
{
  visibility: hidden;
  opacity: 0;
 }

.animateslowfadein
{
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}
