
/* MODAL */

.acmodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    padding-top: 60px;
}

.acmodalcontent {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 700px;
    display: block;
}

.acmodalclose {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 10px;
    top: -15px; 
    color: #000;
    font-size: 40px;
}

.acmodalclose:hover,
.acmodalclose:focus {
    color: red;
    cursor: pointer;
}

.acmodalspacer1
{ margin: 20px 0 0px 0;	}

.acmodalanimate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

form {
    border: 3px solid #f1f1f1;
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.acmodalgobutton{
	font-weight: 700;
	font-size: 24px;
}

.modalsmalltext{
	font-size: 13px;
	line-height: 20px;
	margin: 10px 0 0 0;
}

button {
    background-color: #f44336;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.acmodalcancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.acmodalimgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

/* Avatar image */
.acmodalimgavatar {
    width: 40%;
    border-radius: 50%;
    max-width: 150px;
    height: auto;
    margin-bottom: -5px;	 
}

/* Add padding to containers */
.acmodalcontainer {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}


@media only screen and (max-width: 767px) {

	.acmodalcontent {
		width: 96%;
	}

	span.psw {
	        display: block;
	        float: none;
	    }
	.acmodalcancelbtn {
		width: 100%;
	}
	
	.acmodalclose {
	    font-size: 34px;
	}
	
	.acmodalimgavatar {
	    width: 80%;
		max-width: 90px;
		margin-bottom: -15px;	    
	}
	
	.acmodalgobutton{
		font-weight: 700;
		font-size: 19px;
	}
	
	.modalsmalltext{
		font-size: 12px;
		line-height: 18px;
		margin: 10px 0 0 0;
	}

	.acmodalspacer1
	{ margin: 15px 0 0px 0;	}
}
